---
import ContactSection from '~/components/common/contact/ContactSection.astro';
import CtaCenter from '~/components/common/cta/CtaCenter.astro';
import HeroPages from '~/components/common/HeroPages.astro';
import ProductItem from '~/components/common/products/ProductItem.astro';
import MainLayout from '~/layouts/MainLayout.astro';

import jamstackImg from '~/assets/1.jpg'
import desingImg from '~/assets/2.webp'
import CenterSection from '~/components/common/CenterSection.astro';


let title = "title",
    description = "description",
    heroImg = "https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260",
    imgSrc = jamstackImg,
    desingImgSrc = desingImg,
    pattern = "pattern-web";

---

<MainLayout title={title} description={description}>
    <HeroPages heroImg={heroImg} pattern={pattern}>
        <h2 slot="title" class=" uppercase mb-20 tracking-widest  font-light text-white text-3xl  sm:text-5xl">
            We build JAMstack
            <br />
            experiences.
        </h2>
        <div slot="heading" class=" relative max-w-md  text-white mb-6">

            <div>
                <p class="inline-block pb-7 text-2xl font-medium  uppercase">
                    WEBSITES & WEB APPS
                </p>
            </div>
            <p class="text-base tracking-wide text-brand-text pb-4 md:text-lg">
                We use JAMstack architecture, which is the modern way to build Websites and Apps that delivers
                better performance, security, and scaling.
            </p>
        </div>
    </HeroPages>

    <section id="projects">

        <CenterSection title="What We Do" />
        <main class=" md:space-y-12 lg:space-y-24">

            <ProductItem prodImgSrc={imgSrc} contentStyle="md:ml-16" title='Jamstack Websites'
                body="We build Jamstack websites and apps to meet the specific needs of your business that off-the-shelf software can't. Jamstack is not a technology or a product. It's a way of thinking that moves the web forward, making it secure, faster, and easier to scale."
                products="UI, UX, Dev" />

            <ProductItem prodImgSrc={desingImgSrc} orderItem="order-last" contentStyle="md:mr-16" title='Apps & Data'
                body="We build applications designed to solve simple or complicated business needs. Our team has created dozens of solutions using all major platforms or creating development-intensive custom solutions."
                products="Frontend, Backend, Serverless, DevOps" />

            <ProductItem prodImgSrc={imgSrc} contentStyle="md:ml-16" title='Ecommerce'
                body="Ecommerce activity has seen an incredible rise over the past two years. We know that making the best online shopping experience is a combination of paying attention to detail and using cutting-edge technology."
                products="Headless ecommerce, WooCommerce, Shopify" />

        </main>
    </section>
    <CtaCenter />
    <ContactSection />
</MainLayout>