---
import { Icon } from "astro-icon";
// import ThemeSwitcher from "~/components/theme-switcher.astro";
import navLinks from '~/data/navLinks.json'

---

<header id="page-header"
    class="absolute  z-10 flex items-center justify-between w-full px-8 py-4 text-white border-b border-transparent">
    <a class="flex items-center gap-3 hover:!text-default" href="#">
        <h1 class="sr-only">nana</h1>
        <!-- <Icon name="logomark" class="h-10" /> -->
        <!-- <Icon name="wordmark" class="hidden h-4 sm:block" /> -->
    </a>
    <div>
        <div class="flex items-center gap-6">
            <nav class="hidden sm:block">
                <ul class="flex items-center gap-6">
                    {navLinks.map(({ title, url }) => (
                    <li>
                        <a class="text-sm" href={url}>
                            {title}
                        </a>
                    </li>
                    ))}
                </ul>
                <div class="flex items-center capitalize gap-6">
                    <a class="text-sm" href='/'>
                        home
                    </a>
                    <div class="group dropdown relative cursor-pointer text-white ">
                        <a class="flex items-center  self-baseline text-sm ">
                            Services
                            <span class=" ml-1">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="h-4 w-4 group-hover:rotate-180 group-hover:transform" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </span>
                        </a>

                        <div class="dropdown-menu absolute -mt-3 hidden h-auto w-screen max-w-md group-hover:block">
                            <div class="ml-6 -mb-2 inline-block w-16 overflow-hidden">
                                <div class="h-3 w-3 origin-bottom-left rotate-45 transform bg-white"></div>
                            </div>
                            <!-- <ul class="top-0 w-48 px-6 py-8 bg-white shadow"> -->
                            <div class="relative grid w-auto gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                                <a href="/vps-linux.html"
                                    class="-m-3 flex items-start rounded-lg p-3 hover:bg-gray-100">
                                    <svg class="h-8 w-8 flex-shrink-0" width="24" height="29" viewBox="0 0 24 29"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.65063 7.93355L8.72776 9.70758L7.49365 12.0215L5.56535 15.801L5.17969 18.9634L6.56806 23.4371L9.73048 25.2111H14.5127L18.9863 21.8173L20.9918 16.4952L16.3638 10.8646L15.0526 7.70215L8.65063 7.93355Z"
                                            fill="#ECEFF1" />
                                        <path
                                            d="M19.6035 12.3296C18.3694 10.5555 17.3667 9.47568 16.8268 7.23885C16.2869 5.00202 16.981 5.61908 16.5183 3.69078C16.2869 2.68806 15.9012 1.99387 15.5155 1.45395C15.0527 0.914024 14.5128 0.605496 14.2043 0.528364C13.5101 0.142703 11.8903 -0.474353 9.8849 0.605496C7.80234 1.68534 8.03373 3.99931 8.41939 8.70436C8.41939 9.01289 8.34226 9.39855 8.188 9.70708C7.87947 10.4013 7.33954 11.0183 6.87675 11.5582C6.33683 12.3296 5.7969 13.1009 5.41124 13.9493C4.48566 15.7234 3.63721 17.9602 3.8686 18.8087C4.25426 18.7315 9.11358 26.1362 9.11358 26.2905C9.42211 26.2133 10.7334 26.2133 11.8903 26.2133C13.5101 26.1362 14.4357 26.0591 15.7469 26.3676C15.7469 26.1362 15.6698 25.9048 15.6698 25.6734C15.6698 25.2106 15.7469 24.825 15.8241 24.285C15.9012 23.8994 15.9783 23.5137 16.0555 23.0509C15.2841 23.7451 13.8958 24.5164 12.5845 24.7478C11.4275 24.9792 9.49924 24.5936 8.57366 23.4366C8.65079 23.4366 8.80505 23.4366 8.88219 23.3595C9.11358 23.2823 9.34498 23.2052 9.42211 23.0509C9.65351 22.6653 9.49924 22.2796 9.34498 22.0482C9.19071 21.8168 8.03373 20.9684 7.49381 20.5056C6.95388 20.0428 6.64536 19.8114 6.33683 19.5028L5.71977 18.8858C5.56551 18.7315 5.48838 18.5773 5.41124 18.5001C5.25698 18.1145 5.17985 17.6517 5.25698 17.0346C5.33411 16.1862 5.64264 15.492 6.0283 14.7207C6.18256 14.4121 6.56822 13.7951 6.56822 13.7951C6.56822 13.7951 5.25698 17.0346 5.95117 18.0373C5.95117 18.0373 6.0283 17.0346 6.33683 16.0319C6.56822 15.3377 6.95388 14.335 7.41668 13.7951C7.87947 13.2552 9.03645 11.2497 9.11358 10.0156C9.11358 9.47568 9.19071 8.93576 9.19071 8.5501C8.88219 8.24157 14.2814 7.47025 14.59 8.3187C14.6671 8.62723 15.7469 11.404 16.364 12.8695C16.6725 13.5637 17.0582 14.1807 17.2896 14.9521C17.521 15.8005 17.6752 16.9575 17.6752 18.1145C17.6752 18.3459 17.6752 18.7315 17.5981 19.1172C17.7524 19.1172 20.7605 15.8776 17.2124 13.178C17.2124 13.178 19.3721 14.1807 19.4493 16.1862C19.5264 17.8059 18.8322 19.1172 18.678 19.3486C18.7551 19.3486 20.2977 20.0428 20.3749 20.0428C20.6834 20.0428 21.3004 19.8114 21.3004 19.8114C21.3776 19.58 21.609 18.9629 21.609 18.7315C22.1489 16.9575 20.8377 14.1036 19.6035 12.3296V12.3296Z"
                                            fill="#1F5AA6" />
                                        <path
                                            d="M9.8074 7.2386C10.3612 7.2386 10.8101 6.54794 10.8101 5.69596C10.8101 4.84398 10.3612 4.15332 9.8074 4.15332C9.25362 4.15332 8.80469 4.84398 8.80469 5.69596C8.80469 6.54794 9.25362 7.2386 9.8074 7.2386Z"
                                            fill="#ECEFF1" />
                                        <path
                                            d="M13.2785 7.3928C14.0027 7.3928 14.5898 6.59854 14.5898 5.61876C14.5898 4.63899 14.0027 3.84473 13.2785 3.84473C12.5544 3.84473 11.9673 4.63899 11.9673 5.61876C11.9673 6.59854 12.5544 7.3928 13.2785 7.3928Z"
                                            fill="#ECEFF1" />
                                        <path
                                            d="M10.3683 5.80177C10.3042 5.29462 10.0124 4.91381 9.71661 4.95121C9.42077 4.9886 9.23291 5.43004 9.29702 5.93719C9.36112 6.44434 9.65291 6.82515 9.94875 6.78776C10.2446 6.75037 10.4324 6.30893 10.3683 5.80177Z"
                                            fill="#212121" />
                                        <path
                                            d="M13.2015 6.93024C13.6275 6.93024 13.9728 6.48131 13.9728 5.92752C13.9728 5.37374 13.6275 4.9248 13.2015 4.9248C12.7755 4.9248 12.4302 5.37374 12.4302 5.92752C12.4302 6.48131 12.7755 6.93024 13.2015 6.93024Z"
                                            fill="#212121" />
                                        <path
                                            d="M23.4601 22.8968C23.1515 22.7426 22.6116 22.5112 22.1488 21.817C21.9174 21.4313 21.9946 20.3515 21.6089 19.8887C21.3775 19.5802 21.069 19.7344 20.9918 19.7344C20.2977 19.8887 18.6779 20.9685 17.598 19.7344C17.4438 19.5802 17.2124 19.3488 16.8267 19.3488C16.4411 19.3488 16.2868 19.503 16.1325 19.8116C15.9783 20.1201 15.9783 20.3515 15.9783 21.1228C15.9783 21.7399 15.9783 22.4341 15.9011 22.974C15.7469 24.2852 15.5155 25.0565 15.5155 25.8279C15.5155 26.6763 15.7469 27.2162 16.0554 27.4476C16.2868 27.679 16.6725 27.8333 17.5209 27.8333C18.3694 27.8333 18.9093 27.5248 19.4492 26.9848C19.8349 26.5992 20.1434 26.4449 21.2232 25.6736C22.0717 25.1337 23.3829 24.4395 23.6143 24.2081C23.7686 24.0538 24 23.9767 24 23.5139C24 23.1282 23.6915 22.974 23.4601 22.8968V22.8968ZM7.95653 23.1282C7.18521 21.8941 7.10808 21.6627 6.56816 20.8914C6.10536 20.1201 5.10265 18.6546 4.48559 18.6546C4.0228 18.6546 3.7914 18.886 3.48287 19.1945C3.17435 19.503 2.86582 20.1972 2.32589 20.5829C1.8631 20.9685 0.551857 20.8914 0.243328 21.3542C-0.0651998 21.817 0.551857 22.5112 0.551857 23.6682C0.551857 24.131 0.166196 24.4395 0.0890644 24.748C0.0119324 25.1337 -0.0651997 25.3651 0.0890644 25.6736C0.397593 26.1364 0.783253 26.2907 3.40574 26.8306C4.79412 27.1391 6.10536 27.9104 6.95382 27.9876C7.80227 28.0647 9.26778 27.9876 9.26778 25.905C9.34491 24.6709 8.65072 24.3624 7.95653 23.1282V23.1282ZM9.42204 9.16735C8.95925 8.85882 8.57359 8.55029 8.57359 8.0875C8.57359 7.6247 8.88212 7.47044 9.34491 7.08478C9.42204 7.00765 10.2705 6.23633 11.1189 6.23633C11.9674 6.23633 12.9701 6.77625 13.3558 6.93052C14.05 7.08478 14.7442 7.23904 14.667 7.77897C14.5899 8.55029 14.5128 8.70455 13.7414 9.09021C13.2015 9.24448 12.1988 10.0929 11.5046 10.0929C11.1961 10.0929 10.7333 10.0929 10.4248 10.0158C10.1934 9.93867 9.8077 9.55301 9.42204 9.16735Z"
                                            fill="#FFC107" />
                                        <path
                                            d="M9.26759 8.5504C9.42186 8.70467 9.65325 8.85893 9.88465 8.93606C10.0389 9.0132 10.2703 9.09033 10.2703 9.09033H10.9645C11.3502 9.09033 11.8901 8.93607 12.43 8.62754C12.9699 8.39614 13.0471 8.24188 13.4327 8.08761C13.8184 7.85622 14.204 7.62482 14.0498 7.54769C13.8955 7.47056 13.7413 7.54769 13.2013 7.85622C12.7385 8.16474 12.3529 8.31901 11.8901 8.5504C11.6587 8.62754 11.3502 8.7818 11.1188 8.7818H10.4246C10.1932 8.7818 10.0389 8.70467 9.80752 8.62754C9.65325 8.5504 9.57612 8.47327 9.49899 8.47327C9.34473 8.39614 9.0362 8.08761 8.88193 8.01048C8.88193 8.01048 8.72767 8.01048 8.8048 8.08761L9.26759 8.5504ZM11.5816 6.8535C11.6587 7.00776 11.813 7.00776 11.8901 7.0849C11.9672 7.16203 12.0443 7.16203 12.0443 7.16203C12.1215 7.0849 12.0443 6.93063 11.9672 6.93063C11.9672 6.77637 11.5816 6.77637 11.5816 6.8535V6.8535ZM10.3474 7.00776C10.3474 7.0849 10.5017 7.16203 10.5017 7.0849C10.5788 7.00776 10.656 6.93063 10.7331 6.93063C10.8874 6.8535 10.8102 6.77637 10.5788 6.77637C10.4246 6.8535 10.4246 6.93063 10.3474 7.00776V7.00776Z"
                                            fill="#634703" />
                                        <path
                                            d="M17.8295 20.6603V20.8917C17.9838 21.2003 18.3694 21.2774 18.678 21.2774C19.1408 21.2774 19.6036 20.9689 19.835 20.6603C19.835 20.5832 19.9121 20.5061 19.9892 20.4289C20.1435 20.1976 20.2206 20.0433 20.2978 19.9662C20.2978 19.9662 20.2206 19.889 20.2206 19.8119C20.1435 19.6576 19.9121 19.5034 19.6036 19.4262C19.3722 19.3491 18.9865 19.272 18.8322 19.272C18.1381 19.1948 17.7524 19.4262 17.521 19.6576C17.521 19.6576 17.5981 19.6576 17.5981 19.7348C17.7524 19.889 17.8295 20.0433 17.8295 20.2747C17.9067 20.4289 17.8295 20.5061 17.8295 20.6603V20.6603Z"
                                            fill="#455A64" />
                                    </svg>
                                    <div class="ml-4">
                                        <p class="text-base font-medium text-gray-900">
                                            Linux VPS
                                        </p>
                                        <p class="mt-1 text-sm text-gray-500">
                                            Fast and affordable VPS hosting with Linux operating
                                            system
                                        </p>
                                    </div>
                                </a>

                                <a href="/vps-windows.html"
                                    class="-m-3 flex items-start rounded-lg p-3 hover:bg-wh-aliceBlue">
                                    <svg class="h-8 w-8 flex-shrink-0" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0 3.39797L9.77791 2.06643L9.78212 11.498L0.00887882 11.5536L0 3.39806V3.39797ZM9.77324 12.5846L9.78072 22.0243L0.00757036 20.6806L0.00700959 12.5213L9.77315 12.5846H9.77324ZM10.9585 1.89212L23.9231 0V11.378L10.9585 11.4808V1.89222V1.89212ZM23.9261 12.6733L23.923 24L10.9584 22.1702L10.9403 12.6521L23.9261 12.6733Z"
                                            fill="#1F5AA6" />
                                    </svg>

                                    <div class="ml-4">
                                        <p class="text-base font-medium text-gray-900">
                                            Windows VPS
                                        </p>
                                        <p class="mt-1 text-sm text-gray-500">
                                            Fast and affordable VPS hosting with Windows
                                            operating system
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <!-- </ul> -->
                        </div>
                    </div>
                </div>
            </nav>
            <button id="open-nav-button" type="button" class="btn sm:hidden" aria-label="Navigation">
                <Icon pack="mdi" name="menu" class="h-8" />
            </button>
            <!-- <ThemeSwitcher /> -->
        </div>
        <div id="menu-modal" class="hidden modal" aria-hidden="true">
            <div class="fixed inset-0 px-8 py-4 bg-default">
                <div class="space-y-4" role="dialog" aria-modal="true">
                    <header class="text-right">
                        <button id="close-nav-button" type="button" class="btn" aria-label="Close navigation">
                            <Icon pack="mdi" name="close" class="h-8" />
                        </button>
                    </header>
                    <div class="flex justify-center">
                        <!-- <Icon name="logomark" class="h-16" /> -->
                    </div>
                    <nav>
                        <ul class="flex flex-col">
                            {navLinks.map(({ title, url }) => (
                            <li>
                                <a class="block py-4 text-xl text-center" href={url}>
                                    {title}
                                </a>
                            </li>
                            ))}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    import MicroModal from "micromodal";
    const menuModalId = "menu-modal";
    const header = document.querySelector("#page-header");
    const page = document.documentElement;
    const menu = document.querySelector(`#${menuModalId} ul`);
    const openNavButton = document.querySelector("#open-nav-button");
    const closeNavButton = document.querySelector("#close-nav-button");
    const openMenu = () => {
        MicroModal.show(menuModalId, { disableScroll: true });
    };
    const closeMenu = () => {
        MicroModal.close(menuModalId);
    };
    openNavButton.addEventListener("click", openMenu);
    closeNavButton.addEventListener("click", closeMenu);
    document.addEventListener("scroll", () => {
        const d = page.clientHeight - page.scrollTop - header.offsetHeight;
        header.classList.toggle("fixed-header", d < 0);
    });
    menu.addEventListener("click", (event) => {
        if (event.target.tagName === "A") {
            closeMenu();
        }
    });
</script>

<!-- https://github.com/withastro/compiler/issues/395 -->
<!-- <noscript>
  <style>
    #open-nav-button {
      @apply hidden;
    }
  </style>
</noscript> -->

<style>
    .modal.is-open {
        @apply block;
    }
</style>