---
import { Icon } from "astro-icon";
// import ThemeSwitcher from "~/components/theme-switcher.astro";

import navLinks from "~/data/navLinks.json";
import serviceNavLinks from "~/data/serviceNavLinks.json";
import socialNavLinks from "~/data/socialNavLinks.json"

---

<header id="page-header"
    class="absolute  z-10 flex items-center justify-between w-full px-8 py-5 text-white border-b border-transparent">
    <a class="flex items-center gap-3 hover:!text-default" href="/">
        <h1 class="sr-only"><b>Marbi</b>Media</h1>
        <Icon name="logo" class="h-10" />
        <!-- <Icon name="wordmark" class="hidden h-4 sm:block" /> -->
        <span class=" text-xl tracking-wide hidden h-4 sm:block text-gray-100 uppercase">
            <b>Marbi</b>Media
        </span>
    </a>
    <div>
        <div class="flex items-center gap-6">
            <nav class="hidden sm:block">
                <ul class="flex capitalize items-center gap-6">
                    <li>
                        <a class="text-sm" href="/"> home</a>
                    </li>
                    <li>
                        <div class="group dropdown cursor-pointer text-white ">
                            <a class="flex items-center  self-baseline text-sm ">
                                services
                                <span class=" ml-1">
                                    <Icon name="mdi:chevron-down"
                                        class="h-5 w-5 group-hover:rotate-180 group-hover:transform" />
                                </span>
                            </a>

                            <div class="dropdown-menu absolute -mt-3 hidden h-auto max-w-lg group-hover:inline-block">
                                <div class="ml-6 -mb-2 inline-block w-16 overflow-hidden">
                                    <div class="h-3 w-3 origin-bottom-left rotate-45 transform text-default bg-white">
                                    </div>
                                </div>
                                <!-- <ul class="top-0 w-48 px-6 py-8 bg-white shadow"> -->
                                <div class="relative text-black  grid w-auto gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                                    {serviceNavLinks.map(({ title, url }) => (
                                    <div class=" w-full">
                                        <a class="text-sm" href={url}>
                                            {title}
                                        </a>
                                    </div>
                                    ))}
                                </div>
                                <!-- </ul> -->
                            </div>
                        </div>
                    </li>
                    {navLinks.map(({ title, url }) => (
                    <li>
                        <a class="text-sm" href={url}>
                            {title}
                        </a>
                    </li>
                    ))}
                </ul>
            </nav>
            <button id="open-nav-button" type="button" class="btn sm:hidden" aria-label="Navigation">
                <Icon pack="mdi" name="menu" class="h-8" />
            </button>
            <!-- <ThemeSwitcher /> -->
        </div>
        <div id="menu-modal" class="hidden modal" aria-hidden="true">
            <div class="fixed inset-0 px-8 py-4 bg-default">
                <div class="space-y-4" role="dialog" aria-modal="true">
                    <header class="text-right">
                        <button id="close-nav-button" type="button" class="btn" aria-label="Close navigation">
                            <Icon pack="mdi" name="close" class="h-8" />
                        </button>
                    </header>
                    <div class="flex justify-center">
                        <Icon name="logo" class="h-16 mb-4" />
                    </div>
                    <nav class=" px-20 flex flex-col ">
                        <ul class="flex capitalize mx-auto flex-col">
                            <li>
                                <a class="block py-2 text-xl " href='/'>
                                    home
                                </a>
                            </li>
                            {serviceNavLinks.map(({ title, url }) => (
                            <li>
                                <a class="block py-2 text-xl " href={url}>
                                    {title}
                                </a>
                            </li>
                            ))}

                            <div class=" h-0.5 my-6 border-gray-800 border-b"></div>
                            {navLinks.map(({ title, url }) => (
                            <li>
                                <a class="block py-2 text-xl " href={url}>
                                    {title}
                                </a>
                            </li>
                            ))}
                        </ul>
                        <div class=" pt-20 flex space-x-6  mx-auto ">

                            {socialNavLinks.map((link) => (
                            <a class="text-gray-300 transition-colors duration-300 hover:text-white" href={link.url}>
                                <span class="sr-only">{link.description}</span>
                                <Icon class="h-7 w-7" name={link.icon} />
                            </a>

                            ))}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    import MicroModal from "micromodal";
    const menuModalId = "menu-modal";
    const openNavButton = document.querySelector("#open-nav-button");
    const closeNavButton = document.querySelector("#close-nav-button");
    const openMenu = () => {
        MicroModal.show(menuModalId, { disableScroll: true });
    };
    const closeMenu = () => {
        MicroModal.close(menuModalId);
    };
    openNavButton.addEventListener("click", openMenu);
    closeNavButton.addEventListener("click", closeMenu);
</script>

<style>
    .modal.is-open {
        @apply block;
    }
</style>